body{
  font-family: arial, sans-serif;
}

ul{
padding: 0;
padding-left: 20px;
}

li{
  line-height: 30px;
}

section{
  margin-bottom: 30px;
}

a{
  text-decoration: none;
}

section h3{
  background-color: #eee;
}

.wrapper{
  width: 1024px;
  margin: 0 auto;
}

.me h1{
  margin-bottom: 40px;
}

.me img{
  border: 1px solid black;
}

.contacts{
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-me{
  display: flex;
  align-items: flex-end;
}

.contact-info{
  margin-left: 50px;
}

.summary span{
  line-height: 25px;
}

footer{
  height: 50px;;
}

.create-info{
  line-height: 50px;
  text-align: center;
}